body {
  /*border-top: 2px solid #fff;*/
  background: url(../images/background.png) repeat-x #dce3e9 center -60px;
}

.loading {
  text-transform: uppercase;
  font-size: 80%;
  font-weight: bold;
  margin-right: 10px;
}

.primary-font {
  font-family: "Open Sans";
}

.title {
  /*background: #333;*/
  /*color: #FFF;*/
  display: inline;
  color: #333;
  font-weight: bold;
  /*padding: 3px 5px 3px 5px;*/
  margin-bottom: 20px;
}

.header h3.title {
  font-size: 250%;
}

.subtitle {
  font-weight: 300;
  display: inline;
  color: #555;
}

.title.floatRight {
  background: transparent;
  color: #222;
}

.row.top {
  margin-bottom: 10px;
}

h5.title {
  font-size: 120%;
}

.small h5.title {
  font-size: 110%;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.fox {
  height: 100%;
  width: 30%;
  position: absolute;
  right: 30px;
  top: 240px;
  background: url(../images/fox.png) no-repeat center right;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid rgba(0,0,0,0.1);
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1400px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Space out the masthead */
  .header {
    margin-bottom: 40px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.item {
  padding-bottom: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-reverse {
  justify-content: flex-end;
}

.right {
  text-align: right;
}

.small {
  font-size: 85%;
}

.desc {
  font-size: 85%;
  margin-left: 4px;
}

.small .desc {
  font-size: 80%;
}

.big-number {
  font-weight: bold;
  font-size: 250%;
  margin-top: -13px;
  color: #0096eb;
}
.big-unit {
  font-weight: bold;
  font-size: 100%;
  text-transform: uppercase;
  margin-top: -20px;
  color: #0096eb;
  opacity: 0.4;
}

.small-change {
  font-weight: bold;
  color: #72ca62;
  padding: 2px 4px 2px 4px;
  opacity: 0;
}

.small-change:before {
  content: '+';
}

.small-change.negative {
  color: #E84A1E;
}

.small-change.negative:before {
  content: '';
}

.small-change.empty:before {
  content: '-';
}

.small-change.empty {
  color: #AAA;
}

graph, .numberOnly {
  display: block;
  background: #FFF;
  /*background: #eceff3;*/
  margin: 10px 0;
  border-radius: 3px;
  width: 100%;
}

graph svg {
  width: 100%;
  display: block;
  /*border: 1px solid rgba(255, 255, 255, 0.5);*/
  overflow: visible !important;
  /*border: 2px dotted #3B3B3B;*/
}

graph .line {
  stroke-width: 3px;
  fill: none;
}

graph text {
 font-family: "Open Sans";
 /*font-weight: bold;*/
 fill: #666;
 font-size: 85%;
}

.small graph text {
  font-size: 80%;
}

.small .small-change {
  font-size: 100%;
}

graph text.noData {
 fill: #AAA;
}

path.domain {
  fill: none;
  stroke: rgba(0,0,0,0.1);
  stroke-width: 1;
}

.axis .domain{
  stroke: #E1E1E1;
}

.area {
    fill: #0096eb;
    opacity: 0.1;
    stroke-width: 0;
}

.links {
  margin-top: 13px;
}

.links a{
  color: #FFF;
  background-color: #A8A9AD;
  padding: 16px;
  font-size: 100%;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: -4px;
}

.links a.active {
  background-color: #0096eb;
  color: #fff;
}

.links a:hover {
  text-decoration: none;
  background-color: #00a6eb;
  color: #fff;
}

.footer {
  font-weight: bold;
  font-size: 80%;
}

.footer span.red {
  color: #E84A1E;
}

.footer .actual {
  color: #0096eb;
}

.footer .projected {
  color: #ED8F5E;
}

.hasTooltip {
  opacity: 0.7;
  color: #99A1AD;
  background: #FFF;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 90%;
  display: inline-block;
  text-align: center;
  transition: opacity 0.2s;
  cursor: pointer;
}

.hasTooltip:hover {
  opacity: 1;
  color: #E84A1E;
}

.tooltip {
  font-weight: normal;
}


graph .line-1 {
  stroke-width: 1px;
  fill: none;
  opacity: 0.7;
}

graph .circle-1 {
  stroke-width: 2px;
  opacity: 0.7;
}

.svgTooltip {
  color: #FFF;
  background: #0096eb;
  border-radius: 3px;
  font-size: 85%;
  font-weight: bold;
  padding: 4px 6px 4px 6px;
}

.svgTooltip.tooltip-1 {
  background: #ED8F5F;
}

.svgTooltipTarget:hover {
  fill: #0096eb;
  stroke: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.svgTooltipTarget.circle-1:hover {
  fill: #ED8F5F;
  stroke: #FAF9DF;
}
.numberOnly {
  padding: 32px;
}

.numberOnly .big-number {
  font-size: 400%;
  display: block;
  text-align: center;
  line-height: 30px;
  position: relative;
  top: 10px;
}